body {
  padding: 15px;
  background-image: url('./images/earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
ul {
  margin: 0;
}

.title {
  text-align: center;
  color: rgb(13, 175, 175);
}

.input {
  margin-top: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.input-field {
  border: solid 2px rgb(13, 175, 175);
  border-radius: 5px;
}

.country-section {
  text-align: center;
}
.country-desc {
  display: flex;
  justify-content: center;
}
.country-name {
  color: rgb(95, 10, 21);
  font-size: 48px;
}
.desc-list {
  text-align: start;
  list-style: none;
  margin-right: 20px;
}

.desc-text {
  color: rgb(139, 21, 70);
  font-weight: bold;
  font-size: 30px;
}

.desc-item:not(:last-child) {
  margin-bottom: 15px;
}

.language-list {
  margin-top: 10px;
}

.language {
  text-align: start;
}

.language:not(:last-child) {
  margin-bottom: 10px;
}

.countries-item {
  font-weight: bold;
  list-style: none;
  margin-bottom: 15px;
}

.countries-item:first-child {
  margin-top: 20px;
}

.image {
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
